/* GRID */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  width: 100%;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

[class*='col-'] {
  float: left;
}

.col-xs-10 {
  width: 83.33333333%;
}

.col-xs-12 {
  width: 100%;
}

.col-xs-offset-1 {
  margin-left: 8.33333333%;
}


/*  grid-desktop */

@media (min-width: 768px) {
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
}


/* estilos reutilizables*/

body {
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
}

.background-1 {
  background-color: #F78E69;
}

.background-2 {
  background-color: #ABE188;
}

.text-rigth {
  text-align: right;
}

.text-center {
  text-align: center;
}

.bg-img {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}


/* style mobile */

header {
  height: 35vh;
  padding: 10%;
}

h1 {
  font-size: 36px;
  font-weight: 900;
}

h1,
h4 {
  margin: 7% 2%;
}

h3 {
  font-size: 32px;
  margin-bottom: 7%;
}

.bg-img-1 {
  background-image: url('../assets/img/uno.jpg');
  height: 35vh;
}

.bg-img-2 {
  background-image: url('../assets/img/dos.jpg');
}

.bg-img-3 {
  background-image: url('../assets/img/tres.jpg');
}

.bg-img-2,
.bg-img-3 {
  height: 45vh;
}

figure>img {
  margin: 2%;
  border: 5px solid #fff;
}

section {
  border-top: 3vh solid #F78E69;
  border-bottom: 3vh solid #F78E69;
  padding: 10% 0;
}

#about-pandas {
  padding: 8%;
}

footer {
  padding: 3% 5%;
}


/* style desktop */

@media (min-width:768px) {
  /* estilos individuales*/
  header {
    height: 28vh;
    padding: 2%;
  }
  h1,
  h4 {
    margin: 1% 2%;
    letter-spacing: 0.04em;
  }
  h1 {
    font-size: 52px;
  }
  #tittle-pictures {
    font-size: 52px;
    margin-bottom: 4.5%;
  }
  .heigth-1 {
    height: 80vh;
  }
  .heigth-2 {
    height: 95vh;
  }
  section,
  #about-pandas,
  #pictures {
    padding: 3.5%;
  }
  figure>img {
    border: 10px solid #ffffff;
  }
  footer {
    padding: 1% 3%;
  }
}